<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <b>External id:</b>
    <%= @representative.external_id %>
  </p>

  <p>
    <b>Name:</b>
    <%= @representative.display_name %>
  </p>

  <p>
    <b>Party:</b>
    <%= link_to @representative.party.name, @representative.party %>
  </p>
</div>


