<table class="condensed-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Navn</th>
      <th>Underkategorier</th>
    </tr>
  </thead>
  <tbody>
      <% @categories.each do |rep| %>
      <tr>
        <td><%= rep.id %></td>
        <td><%= rep.name %></td>
        <td>
          <% rep.sub_categories.each do |cat| %>
          <ul>
            <li><%= cat.name %></li>
          </ul>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>