<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Navn</th>
      <th>Underkategorier</th>
    </tr>
  </thead>
  <tbody>
      <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.id %></td>
        <td><%= topic.name %></td>
        <td>
          <% topic.sub_topics.each do |sub_topic| %>
          <ul class="unstyled">
            <li><%= sub_topic.name %></li>
          </ul>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>