#logo { padding: 20px 0 10px 20px; background-color: #222; }
#logo img { width: 10%; height: 10%; }
#navbar .navbar-inner { padding-left:0;padding-right:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0; }
