<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Navn</th>
    </tr>
  </thead>
  <tbody>
    <% @committees.each do |com| %>
      <tr>
        <td><%= com.import_id %></td>
        <td><%= com.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
