<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong>External Id:</strong>
    <%= @party.external_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @party.name %>
  </p>

  <strong>Representanter</strong>
  <ul>
    <% @party.representatives.each do |rep| %>
      <li>
        <%= link_to rep.display_name, rep %>
      </li>
    <% end %>
  </ul>
</div>

