<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Navn</th>
      <th>Antall representanter</th>
    </tr>
  </thead>
  <tbody>
      <% @parties.each do |party| %>
      <tr>
        <td><%= party.id %></td>
        <td><%= party.name %></td>
        <td><%= party.representative_ids.size %></td>
      </tr>
      <% end %>
  </tbody>
</table>